@using DondeCargoNafta.Entities;
@model IEnumerable<DondeCargoNafta.Entities.Station>
@{
    ViewBag.Title = "Donde Cargo Nafta";
}

@Html.ActionLink("RATE", "Rate", "Home")

<div id="map"></div>

@*<div class="modal fade bs-example-modal-lg" id="rateStationModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        @Html.Partial("_RateStation")
    </div>
</div>*@

<script>
    var map;
    function initMap() {

        var Rosario = { lat: -32.9507, lng: -60.6665 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: Rosario
        });

        var iconBase = '/images/';
        var icons = {
            AXION: {
                icon: iconBase + 'axion.png'
            },
            ESSO: {
                icon: iconBase + 'esso.png'
            },
            OIL: {
                icon: iconBase + 'oil.png'
            },
            OTHER: {
                icon: iconBase + 'otras.png'
            },
            PETROBRAS: {
                icon: iconBase + 'otras.png'
            },
            SHELL: {
                icon: iconBase + 'shell.png'
            },
            YPF: {
                icon: iconBase + 'ypf.png'
            }
        };

        var features = [];


        @foreach (var station in Model)
        {
            <text>

        var stationDesc = {
                    "ID" : '@station.StationID',
                    'name': '@station.StationName',
                    'street': '@station.Address.Street',
                    'number': '@station.Address.Number',
                    'RegularGas': '@(station.FuelPrices.SingleOrDefault(x => x.Fuel.FuelType == FuelType.Gas && x.Fuel.FuelGrade == FuelGrade.Regular)?.Price.PriceValue ?? 0)',
                    'PremiumGas': '@(station.FuelPrices.SingleOrDefault(x => x.Fuel.FuelType == FuelType.Gas && x.Fuel.FuelGrade == FuelGrade.Premium)?.Price.PriceValue ?? 0) ',
                    'RegularDiesel': '@(station.FuelPrices.SingleOrDefault(x => x.Fuel.FuelType == FuelType.Diesel && x.Fuel.FuelGrade == FuelGrade.Regular)?.Price.PriceValue ?? 0)',
                    'PremiumDiesel': '@(station.FuelPrices.SingleOrDefault(x => x.Fuel.FuelType == FuelType.Diesel && x.Fuel.FuelGrade == FuelGrade.Premium)?.Price.PriceValue ?? 0)'
                }

                var feature =
                    {
                        position: new google.maps.LatLng(@station.Coordinates.Latitude, @station.Coordinates.Longitude),
                        type: '@station.Brand.BrandName',
                        description: getDescription(stationDesc)
                    }

                features.push(feature);
            </text>
        }



            // Create markers.
        features.forEach(function (feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type].icon,
                map: map
            });

            var infowindow = new google.maps.InfoWindow({
                content: feature.description
            });

            if (feature.description != null) {
                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
            }

        });
    }

    function getDescription(stationDesc) {

        var str = '<div class="bubbleContent">' +
            '<p> Nombre: <b>' + stationDesc.name + '</b></p>' +
            '<p>Direccion: <b>' + stationDesc.street + '</b></p>' +
            '<div class="prices">' +
            '<p>Precios</p>' +
            '<p>Nafta Super   : <i>$' + stationDesc.RegularGas + '</i></p>' +
            '<p>Nafta Premium : <i>$' + stationDesc.PremiumGas + '</i></p>' +
            '<p>Gasoil Comun  : <i>$' + stationDesc.RegularDiesel + '</i></p>' +
            '<p>Gasoil Premium: <i>$' + stationDesc.PremiumDiesel + '</i></p>' +
            '</div>' +
            '<a class="btn btn-success" href="/Home/Rate/' + stationDesc.ID + '">RATE</a>' +
            '</div>';

        return str;
    }

    function ShowRateModal(stationID) {
        $('#rateStationModal').modal('show');
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwHAf2L2j-7mCjh9ArSAxCLvNdUxgp-Hg&callback=initMap">
</script>