@model DondeCargoNafta.Models.RateViewModel

@{
    ViewBag.Title = "Edición Precios";
}
<div class="container">
    <h2>@Model.Station.StationName</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Station.StationID)

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Station.StationName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p>@Model.Station.StationName</p>
                    </div>
                </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.RegularGas, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.RegularGas, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PremiumGas, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.PremiumGas, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RegularDiesel, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.RegularDiesel, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PremiumDiesel, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.PremiumDiesel, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-offset-2">
                    <input type="submit" value="Guardar" class="btn btn-success editButtons" />
                    @Html.ActionLink("Volver al Mapa", "Index", null, new {@class= "btn btn-primary editButtons" })
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
